:host{
  width: 100%;

  .row{
    border: 1px solid black;
    &.promo{
      border: 3px solid orange;
    }
    .col-md-12{
      padding: 10px;
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      img{
        max-width: 150px;
      }
    }
  }

  .promo-text{
    background-color: orange;
  }

}

