<footer class="text-muted">
  <div class="container">
    <!--BOX 1-->
    <app-box-layout>
      <ng-container title>Titolo</ng-container>
      <ng-container content>Contenuto</ng-container>
    </app-box-layout>
    <!--BOX 2-->
    <app-box-layout background="red">
      <ng-container title>Titolo2</ng-container>
      <ng-container subtitle><small>Sotto Titolo 2</small></ng-container>
      <ng-container content>Contenuto2</ng-container>
    </app-box-layout>
    <!--BOX 3-->
    <app-box-layout>
      <ng-container title>Titolo3</ng-container>
      <ng-container content>Contenuto3</ng-container>
    </app-box-layout>
  </div>
</footer>
